@import '../vars';
@import '../templates';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font: 'Roboto', sans-serif;

$commonBg: rgb(241, 244, 248);

@mixin gallery-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin blue-button {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 62, 117);
  height: 2.91vw;
  border: none;
  font-size: 0.94vw;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 2.91vw;
}

@mixin main-text {
  color: rgb(64, 82, 103);
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.43vw;
}

@mixin h2 {
  font-size: 2.3vw;
  color: rgb(16, 36, 65);
  line-height: 2.31vw;
  font-weight: 700;
}

@mixin image($position) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: $position;
}

%advantages__img {
  height: 1.79vw;
  width: 1.77vw;
}

%advantages__title {
  color: rgb(32, 62, 117);
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.3vw;
  display: grid;
  align-content: center;
}

@mixin advantages__text {
  color: rgb(64, 82, 103);
  font-size: 0.93vw;
  font-weight: 400;
  line-height: 1.35vw;
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Страница Буровые работы*/
.main-container {
  width: 100%;
  font-family: $font;
  background-color: $commonBg;
}

h2 {
  @include h2;
}

/*Шапка*/
.header {
  height: 26vw;

  &__top {
    height: 16%;
  }

  &__bottom {
    background-color: rgba(34, 34, 34, 0.6);
    height: 84%;
    position: relative;
    color: $colorWhite;
  }

  &__img {
    position: absolute;
    background-image: url(../../images/drilworkImg/header__bottom_drill.jpg);
    @include image(bottom);
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
  }

  &__content {
    position: absolute;
    margin-top: 5.51vw;
    z-index: 1;
    text-align: center;

    h1 {
      margin-top: 0;
      font-size: 3.02vw;
      font-weight: 700;
      line-height: 2.86vw;
    }

    .header__text {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.61vw;
      width: 39%;
      font-size: 0.98vw;
      font-weight: 400;
      line-height: 1.45vw;
    }
  }
}

/*Навигационная цепочка*/
.header__link {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 8%;
  display: inline-flex;
  align-items: center;
  gap: 0.52vw;
  font-weight: 400;
  font-size: 0.73vw;
  a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }
  img {
    width: 0.42vw;
  }
}

/*Картинка с текстом*/
.block1 {
  display: flex;
  justify-content: space-between;
  padding: 4.58vw 8% 0 8%;

  .block1__image {
    background: url(../../images/drilworkImg/drilling.png);
    @include image(center);
    height: 22.86vw;
    flex-basis: 51%;
  }

  .block1__info {
    flex-basis: 46%;

    .block1__text {
      @include main-text;
      margin-top: 1.2vw;
      margin-bottom: 0.6vw;
    }
  }
}

/*Текст без картинки*/
.block2 {
  padding: 2.6vw 12% 2.4vw 8%;

  .block2__text {
    @include main-text;
    margin-top: 1.2vw;
    margin-bottom: 0.6vw;
  }

  .block2__title {
    color: rgb(20, 20, 20);
    font-weight: 700;
    font-size: 1.66vw;
    line-height: 1.45vw;
  }
}

/*Преимущества*/
.advantages {
  margin-left: 8%;
  width: 73.9%;
  height: 5.14vw;
  display: grid;
  grid-template-columns: 2.3vw 15.9vw 2.3vw 15.9vw 2.3vw 15.9vw 2.3vw 15.9vw;
  grid-template-rows: 1.97vw 2.96vw;

  .advantages__img {
    @extend %advantages__img;
  }

  .advantages__title {
    @extend %advantages__title;
  }

  .advantages__text {
    @include advantages__text;
    align-content: center;
  }

  .advantages__img_1 {
    grid-column: 1;
    grid-row: 1;
  }

  .advantages__title_1 {
    grid-column: 2;
    grid-row: 1;
  }

  .advantages__text_1 {
    grid-column: 2;
    grid-row: 2;
  }

  .advantages__img_2 {
    grid-column: 3;
    grid-row: 1;
  }

  .advantages__title_2 {
    grid-column: 4;
    grid-row: 1;
  }

  .advantages__text_2 {
    grid-column: 4;
    grid-row: 2;
  }

  .advantages__img_3 {
    grid-column: 5;
    grid-row: 1;
  }

  .advantages__title_3 {
    grid-column: 6;
    grid-row: 1;
  }

  .advantages__text_3 {
    grid-column: 6;
    grid-row: 2;
  }

  .advantages__img_4 {
    grid-column: 7;
    grid-row: 1;
  }

  .advantages__title_4 {
    grid-column: 8;
    grid-row: 1;
  }

  .advantages__text_4 {
    grid-column: 8;
    grid-row: 2;
  }
}
/*Текст*/
.block3 {
  padding: 0 12% 2.81vw 8%;

  .block3__text {
    @include main-text;
    margin-top: 2.8vw;
    margin-bottom: 1.6vw;
  }
}

/*Сертификаты*/
.certificates {
  margin: 0 8% 2vw 8%;

  .certificates__title {
    text-align: center;
    margin-bottom: 2vw;
  }

  .certificates__gallery {
    display: flex;
    justify-content: space-between;
    gap: 0.52vw;
    height: auto;
  }

  .certificates__img {
    height: 19.78vw;
    width: 26.9vw;
  }
  .certificates__img_1 {
    background: url(../../images/drilworkImg/Certificate.png);
    @include image(center);
  }
  .certificates__img_2 {
    background: url(../../images/drilworkImg/Certificate.png);
    @include image(center);
  }
  .certificates__img_3 {
    background: url(../../images/drilworkImg/Certificate.png);
    @include image(center);
  }
}

/*Почему именно мы*/
.block4 {
  margin: 2vw 8%;
  display: flex;

  .block4__card {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;

    .block4__title {
      margin-top: 3vw;
      margin-bottom: 1.5vw;
    }
  }

  .block4__advantages {
    height: 5.14vw;
    display: grid;
    grid-template-columns: 2.3vw 15.9vw 2.3vw 15.9vw;
    grid-template-rows: 1.97vw 2.96vw 1vw 1.97vw 2.96vw;

    .advantages__img {
      @extend %advantages__img;
    }

    .advantages__title {
      @extend %advantages__title;
    }

    .advantages__text {
      @include advantages__text;
      align-content: end;
    }

    .advantages__img_5 {
      grid-column: 1;
      grid-row: 1;
    }

    .advantages__title_5 {
      grid-column: 2;
      grid-row: 1;
    }

    .advantages__text_5 {
      grid-column: 2;
      grid-row: 2;
    }

    .advantages__img_6 {
      grid-column: 3;
      grid-row: 1;
    }

    .advantages__title_6 {
      grid-column: 4;
      grid-row: 1;
    }

    .advantages__text_6 {
      grid-column: 4;
      grid-row: 2;
    }

    .advantages__img_7 {
      grid-column: 1;
      grid-row: 4;
    }

    .advantages__title_7 {
      grid-column: 2;
      grid-row: 4;
    }

    .advantages__text_7 {
      grid-column: 2;
      grid-row: 5;
    }

    .advantages__img_8 {
      grid-column: 3;
      grid-row: 4;
    }

    .advantages__title_8 {
      grid-column: 4;
      grid-row: 4;
    }

    .advantages__text_8 {
      grid-column: 4;
      grid-row: 5;
    }
  }

  .block4__map {
    background: url(../../images/drilworkImg/dark_map.png);
    @include image(center);
    flex-basis: 50%;
    height: 22.4vw;
  }
}

/*Новости компании*/
.news {
  padding: 4vw 8% 3vw;
  background: url(../../images/drilworkImg/125761-blue-crystal-background.png);
  @include image(center);

  .news__title {
    text-align: center;
    margin-bottom: 2.39vw;
  }

  .news__gallery {
    display: flex;
    justify-content: space-between;
  }

  .news__card {
    height: 26.19vw;
    width: 26.45vw;
    background-color: $colorWhite;

    .news__img {
      width: 100%;
      height: 14.5vw;
    }

    .news__img_1 {
      background: url(../../images/drilworkImg/news.png);
      @include image(center);
    }

    .news__img_2 {
      background: url(../../images/drilworkImg/news.png);
      @include image(center);
    }

    .news__img_3 {
      background: url(../../images/drilworkImg/news.png);
      @include image(center);
    }

    .news__info {
      padding: 1.1vw 1.5vw 1.46vw 1.66vw;

      .news__date {
        display: inline-block;
        padding: 0 0.46vw;
        color: $colorText;
        background-color: $commonBg;
        font-size: 0.6vw;
        font-weight: 400;
        line-height: 1.38vw;
      }

      .news__subtitle {
        display: flex;
        text-decoration: none;
        color: rgb(20, 20, 20);
        font-size: 1.25vw;
        font-weight: 700;
        line-height: 1.38vw;
        margin-right: 5.7vw;
        padding: 0.62vw 0;
      }

      .news__text {
        color: $colorText;
        font-size: 0.93vw;
        font-weight: 400;
        line-height: 1.1vw;
        height: 2.4vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .news__button {
    @include blue-button;
    display: block;
    width: 11.14vw;
    margin: 2.91vw 36vw 2vw;
  }
}
/*Карта с контактами*/
.location {
  background-image: url(../../images/servicesImg/location1.jpg);
  height: 34.53vw;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5.98vw 8% 5.36vw;

  .contacts {
    width: 36.09vw;
    height: 23.17vw;
    background-color: $colorWhite;

    .contacts__title {
      padding-left: 2.34vw;
      padding-top: 1.82vw;
      height: 7.67vw;

      .contacts__questions {
        font-size: 2.34vw;
        font-weight: 700;
        color: $colorTitle;
        line-height: 2.91vw;
      }

      .contacts__email {
        font-size: 1.87vw;
        font-weight: 700;
        color: $colorSubtitle;
        line-height: 2.44vw;
        text-decoration: none;
      }
    }

    .contacts__address {
      height: 10.83vw;
      width: 87%;
      margin-left: 2.34vw;
      display: grid;
      grid-template-columns: 1vw 1.5fr 1vw 1fr;
      grid-template-rows: 1.6vw 4vw 1.3vw 2vw;
      gap: 0.3vw;

      .contacts__capture {
        color: $colorTitle;
        font-size: 1.1vw;
        font-weight: 700;
        line-height: 1.3vw;
        display: grid;
        align-content: center;
      }

      .contacts__description {
        color: rgb(126, 136, 136);
        font-size: 0.83vw;
        font-weight: 400;
        line-height: 1.3vw;
        display: grid;
        align-content: start;
      }

      .contacts__img-address {
        place-self: center;
        grid-column: 1;
        grid-row: 1;
        height: 1.09vw;
        width: 0.72vw;
      }

      .contacts__capture_addres {
        grid-column: 2;
        grid-row: 1;
      }

      .contacts__description_addres {
        grid-column: 2;
        grid-row: 2;
      }

      .contacts__img-phone {
        grid-column: 3;
        grid-row: 1;
        height: 1.09vw;
        width: 0.79vw;
        place-self: center;
      }

      .contacts__capture_phone {
        grid-column: 4;
        grid-row: 1;
      }

      .contacts__description_phone {
        grid-column: 4;
        grid-row: 2;
      }

      .contacts__img-time {
        place-self: center;
        grid-column: 1;
        grid-row: 3;
        height: 0.88vw;
        width: 0.88vw;
      }

      .contacts__capture_time {
        grid-column: 2;
        grid-row: 3;
      }

      .contacts__description_time {
        grid-column: 2;
        grid-row: 4;
      }

      .contacts__img-whatsapp {
        place-self: center;
        grid-column: 3;
        grid-row: 3;
        height: 0.88vw;
        width: 0.88vw;
      }

      .contacts__capture_whatsapp {
        grid-column: 4;
        grid-row: 3;
      }

      .contacts__description_whatsapp {
        grid-column: 4;
        grid-row: 4;
      }
    }
  }
}

/*Социальные сети и оформить заявку*/
.contacts__footer {
  border-top: 1px solid rgb(223, 223, 223);
  padding: 0.94vw 2.34vw;
  display: flex;
  justify-content: space-between;
}

.contacts__media {
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
  align-items: center;

  .contacts__social-media {
    width: 1.51vw;
    height: 1.51vw;
  }

  a:link {
    filter: grayscale(100%);
    opacity: 50%;
  }
  a:hover {
    filter: grayscale(0%);
    opacity: 100%;
  }
}

.contacts__button {
  @include blue-button;
  width: 11.14vw;
}

.header__top {
  padding: 0 8%;
  background: url(/assets/images/aboutImg/header-top-bg.png);
  @include gallery-image;
  width: 100%;
  .header__top_full {
    width: 100%;
    height: 100%;
    display: flex;
    .header__top_logo {
      display: flex;
      align-items: center;
      width: 10%;
      img {
        width: 75%;
      }
    }
    .header__top_menu {
      display: flex;
      margin-left: auto;
      width: 60%;
      nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          text-decoration: none;
          font: 0.8vw $font;
          color: $colorWhite;
        }
        a:hover {
          font-weight: 700;
        }
      }
      .header__top_left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        width: 45%;
        .contact_phone {
          text-align: right;
          img {
            display: inline-block;
            width: 90%;
          }
        }
      }
    }
  }
}
.header__top_languages {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.8vw;
  color: #fff;
  p {
    margin: 0;
  }
}

.choice {
  position: relative;
  display: inline-block;
}
.dropdown-toggle {
  display: none;
}
.choice__list {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1;
  li {
    cursor: pointer;
  }
}
.header__top_languages-choice {
  cursor: pointer;
}

.dropdown-toggle:checked + .choice__list {
  display: block;
}

/* Подвал */
.footer {
  padding: 5vh 8% 0 8%;
  font: $font;
  background-color: rgb(28, 30, 33);
  color: $colorWhite;
}
.footer__top {
  height: 80%;
  width: 100%;
  margin-bottom: 3rem;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $colorWhite;
  }
  .footer__top_full {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 0.8fr 0.8fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 9%;
    font: 0.8vw;
    .footer__top_block {
      display: flex;
      flex-direction: column;
      gap: 1vw;
      .footer__top-title {
        display: flex;
        align-items: center;
        height: 30%;
        font-weight: 700;
        h6 {
          margin: 0;
          font-size: 1.3vw;
        }
        p {
          margin: 0;
        }
      }
      .footer__top-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
        font-size: 1vw;
        font-weight: 400;
      }
      /* 1я колонка */
      .footer__top-title-logo img {
        height: 100%;
      }

      /* 2я и 3я колонки */
      .footer__top-content-nav {
        a:hover {
          font-weight: 700;
        }
      }
      /* 4я колонка */
      .footer__top-content_tel {
        display: flex;
        align-items: center;
        gap: 1vw;
        img {
          width: 1vw;
        }
      }
      .footer__top-content_media {
        display: flex;
        width: 30%;
        flex-basis: 25%;
        justify-content: space-between;
        align-items: center;
        a:link {
          filter: grayscale(100%);
          opacity: 50%;
        }
        a:hover {
          filter: grayscale(0%);
          opacity: 100%;
        }
      }

      .footer__top-content_media-social {
        width: 1.51vw;
        height: 1.51vw;
      }
    }
  }
}

.footer__line {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 1px;
}
.footer__bottom {
  text-align: center;
  vertical-align: middle;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 20%;
  font-size: 0.8vw;
}
